body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #f0f2f5;
}
.container h2{
    font-size: 2em;
    text-align: center;
    color: #1877f2;
    font-weight: bolder;
    margin-top: 100px;
}
.login{
    max-width: 350px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.login__container{
    font-size: 1em;
}
.input{
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn{
    width: 95%;
    padding: 10px;
    background-color: #1877f2;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    cursor: pointer;
}
.btn:hover{
    background-color: #155bd8;
}
.forgot, .create{
    color: #1877f2;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
.forgot:hover, .create:hover{
    text-decoration: underline;
}
.FClist{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
}